<!DOCTYPE html>
<html>
    <head>
        <title>T</title>
        <script src="../../../libs/require/2.1.18/require.js"></script>
    </head>
    <body>
        <article class="manager">
            <header>
                <div>第一虚拟课堂管理后台</div>
            </header>
            <section class="content">
                <aside class="catalog">
                    <ul id="catalog-list">
                        <li
                            class="fist-level"
                            v-for="(item, index) in powerList"
                            :key="index">
                            <div>{{item.name}}</div>
                            <ul v-if="item.child">
                                <li 
                                    class="second-level"
                                    v-for="(childItem, index) in item.child"
                                    :key="index"
                                    @click="setManagePage(childItem.url)">
                                    {{childItem.name}}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside>
                <main class="main-ctn">
                    <div class="hide">欢迎来到第一虚拟课堂管理后台</div>
                    <iframe class="" id="iframe" src="/sp/pages/manage-user/manage-power" frameborder="0"></iframe>
                </main>
            </section>
        </article>
        <div class="toast-ctn">
            <p class="toast-txt"></p>
        </div>
        <!--SCRIPT_PLACEHOLDER-->
        <script>
            require(['./index'], function(script) {
                script.init();
            });
        </script>
    </body>
</html>