@import "../../../assets/style/_base.scss";

body, html {
    height: 100%;
}
.transparent {
    background: transparent !important;
    border-color: transparent !important;
    color: #333 !important;
    & > div {
        background: transparent !important;
        border-color: transparent !important;
    }
}
.hide {
    display: none;
}
.red {
    color: red;
}
a {
    color: #fff;
}
.top-header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    background: #d75f1d;
}
.title {
    display: flex;
    align-items: center;
}
.logo {
    height: 80px;
    margin-right: 20px;
    > img {
        height: 100%;
    }
}
.site-name {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.nav {
    display: flex;
    > li {
        margin: 4px;
        > a {
            display: block;
            padding: 10px 20px;
            border-bottom: 1px solid transparent;
            color: #fff;
            &:hover {
                border-bottom-color: #eaad32;
            }
        }
    }
}
.account {
    margin-right: 16px;
}
.btn-account {
    border: 0 none;
    background: #FFA500;
}
.container-o {
    box-sizing: border-box;
    padding-top: 80px;
    height: 100%;
    background: url(./images/bg.jpg) no-repeat;
}
.main {
    position: relative;
    float: right;
    width: 380px;
    margin: 80px 60px;
    box-shadow: 0 4px 10px 1px rgba(200,200,200,0.8);
    background: #fff;
    > header {
        position: relative;
        display: flex;
        z-index: 0;
    }
    .tab {
        position: relative;
        display: flex;
        color: #fff;
        cursor: pointer;
        &:last-child {
            left: -20px;
            z-index: -1;
            
        }
        > div {
            position: relative;
            font-size: 16px;
            
            &:first-child {
                width: 90px;
                padding: 10px 10px 10px 26px;
                background: #d75f1d;
            }
        }
        > .triangle {
            border-bottom: 44px solid #d75f1d;
            border-right: 22px solid rgba(1,1,1,0);
        }
    }
}
.toast-ctn {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	margin: auto;
	width: 220px;
	padding: 10px 20px;
	z-index: -1;
	transform: translate3d(0,-50%,0);
	color: #f0f0f0;
	font-size: 18px; /*px*/
	text-align: center;
	background: rgba(33,33,33,0.8);
	transition: opacity 0.8s ease;
	border-radius: 8px;
	opacity: 0;
	&.show {
		opacity: 1;
		z-index: 9999;
	}
}
.input-control {
    display: flex;
    padding: 10px;
    margin-bottom: 8px;
    font-size: 14px;
    > .input-name {
        margin-right: 10px;
        width: 4.5em;
        text-align: right;
    }
    > input[type=text], > input[type=password] {
        border-width: 0;
        border-bottom: 1px solid #aaa;
        width: 180px;
        padding: 4px;
    }
    > button {
        border: 1px solid #ccc;
        padding: 6px 0;
        width: 100px;
        border-radius: 6px;
        line-height: 1.8;
        background: #fff;
        cursor: pointer;
        &:hover {
            background: #efefef;
        }
    }
}

.form-ctn {
    padding: 12px 20px;
}
.reg-tips {
    margin: 6px auto;
    width: 200px;
    padding: 4px 12px;
    line-height: 2;
    text-align: center;
    background: #fde085;
}
.error-tips {
    margin: 10px auto;
    width: 90%;
    padding: 4px 12px;
    line-height: 2;
    text-align: center;
    color: #f00;
    background: #ffc8c8;

}

.bottom-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #fff;
    text-align: center;
    color: #999;
}
.forget {
    position: absolute;
    bottom: 40px;
    right: 20px;
    color: #666;
    padding: 0 10px;
    a {
        color: #666;
        &:hover {
            text-decoration: underline;
        }
        
    }
}